.row
  .col-sm
    %h1
      Hello, I'm Adrian.
    %p
      I'm a husband, father,
      %a{:href => '/work'} software engineer,
      amateur cook, and amateur homesteader.  Opinions vary on the ordering.
