!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width", :"initial-scale" => "1", :"shrink-to-fit" => "no"}

    %title Adrian Titus
    %link{:rel => :stylesheet, :type => :"text/css", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :crossorigin => "anonymous"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/app.css"}
    %script{:src => "https://code.jquery.com/jquery-3.3.1.slim.min.js", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :crossorigin => "anonymous"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :crossorigin => "anonymous"}
    %script{:src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin => "anonymous"}

  %body
    .container
      %nav.navbar.navbar-expand-sm.navbar-inverse.navbar-light
        %button.navbar-toggler{:"data-toggle" => "collapse", :"data-target" => "#navMenu"}
          %span.navbar-toggler-icon
        #navMenu.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item
              %a.nav-link{:href => '/'} Home
            %li.nav-item
              %a.nav-link{:href=>"/work"} Work
            %li.nav-item
              %a.nav-link{:href=>"/projects"} Projects
            %li.nav-item
              %a.nav-link{:href => '/resume'} Resume
            %li.nav-item
              %a.nav-link{:href => 'mailto:a.titus1@gmail.com'} Contact
      #main
        =yield
      %footer.footer
        .container
          .row
            .text-muted
              %a{:href => "https://www.linkedin.com/in/adrian-m-titus/"} linkedin
              %a{:href => "https://github.com/adr1anx"} github
