.row
  .col-sm
    %a{:href => "http://idp-eliminator.com"} Fantasy Football eliminator
    Code available <a href="https://github.com/adr1anx/yahoo-eliminator">here</a>.  It
    pulls from our yahoo league via an initial oauth call, and after that uses a
    refresh token.  Pretty straight forward... what was not straight forward was working
    out yahoos fantasy api.
