.row
  .col-sm
    %p
      Below are some of the bigger projects I've worked on.  For anything that
      has gone defunct, or is not up (the internet is a fickle place), I've included
      some screenshots or images from <a href="https://archive.org/web/">the way
      back machine</a>.  All of these projects were built primarily with rails.
    %h3 Fitly
    %p
      A <a href ="https://www.bizjournals.com/philadelphia/news/2014/08/01/healthy-grocery-delivery-service-fitly-soft.html">meal delivery service</a> (think blue apron) with a few twists.  I came on as
      the CTO to get the app ready and we launched our MVP in 6 months.  I developed
      a completely custom recipe entry and storage system (do you know how hard it
      is to quantify a 'bunch' of anything?), as well as the back-end and infrastructure
      (AWS).  While the company has gone through numerous changes and pivots, you
      can see our original launch <a href="https://web.archive.org/web/20140806175820/https://www.fitly.com/">
      here</a>.
    %h3 FundAnything
    %p
      I was part of the team the developed fundanything, a crowd funding site.  It was
      backed by a little known businessman named Donald Trump, and featured a few
      <a href="https://www.prnewswire.com/news-releases/adam-carolla-raises-1-million-for-movie-project-on-donald-trumps-fundanythingcom-crowdfunding-site-218400131.html">celebrity</a>
      <a href="https://techcrunch.com/2013/10/02/penn-jillette-turns-to-fundanything-to-become-a-bad-guy/">campaigns</a>.
      I worked on pretty much all facets of the site, including a custom jquery uploader for
      campaign images.
    %h3 Poetry.com
    %p
      I was the lead developer for <a href="https://web.archive.org/web/20170327003259/http://www.poetry.com/">poetry.com's</a>
      relaunch in 2011 (it is in the process of rebranding again).  I led a small team
      that built the site from the ground up, which included allowing users to do a
      full text search on their old poems and import them to the new system.  I built a
      custom rating and gamification system on top of <a href = "https://developers.gigya.com/display/GD/Loyalty+-+Gamification+and+User+Behavior">
      Gigya's loyalty API</a>, and on launch scaled from 0 to millions of pageviews in
      a matter of days on launch.
    %h3 LineMonkey
    %p
      Linemonkey was an early online ordering and point of sale offering for quick service
      restaurants.  You know how you can now order online from pretty much anywhere?  This was
      like that, but in 2010.  I was responsible for writing the ActiveMerchant library for our
      payment processor, as well as some of the financial reporting for each customer.
    %h3 The Learning Annex
    %p
      I took over maintenance and development of learningannex.com (broken now) and was responsible
      for updating the subscription billing services, and then building out their online
      conference booking.  At its peak it was handling conferences of 10000+ attendees, complete
      with online registration, billing, and ticket printing.
